.au-list-member {
    margin-top: 10px;
    text-align: center;
}

.au-container {
    margin: 10px;
}

.au-dialog {
    flex-grow: 1;
}

.flex {
    flex: 1;
}

.nofi {
    opacity: 0.8;
}

#message-id {
    display: flex;
    align-items: flex-end;
}

#checked-icon {
    margin-right: 10px;
}
