ul li {
    display: inline;
}

#id {
    margin-bottom: 32px;
}

#drawer-username {
    margin-top: 24px;
}

#user-info-title {
    background-image: url("../../../theme/images/running-app-bar.png");
    background-size: cover;
    height: 150px;
}

#content-area {
    background-size: cover;
}
